<ion-view hide-back-button="true">
	<ion-content>
			<h1><i class="icon ion-social-twitter center button button-positive button-block button-clear"></i></h1>
			<h2 class="center padding">Welcome to Twitter</h2>
		
	</ion-content>
	<div class="bar bar-footer">
		<div class="button-bar padding-horizontal">
			
				<a href="#/signup" class="button button-positive button-royal">Sign up</a>
	
				<a href="#/login" class="button button-positive  button-light" >Login</a>
			
		</div>
	</div>
</ion-view>